link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css" /
.off-canvas-wrap.move-right data-offcanvas="" 
	.inner-wrap
		a.left-off-canvas-toggle href="#" 
			i.fi-list
		/! Off Canvas Menu
		aside.left-off-canvas-menu
			.icon-bar.vertical.five-up
				a.item href="#about"
					i.fi-home
					label About
				a.item href="#portfolio"
					i.fi-page-search
					label Portfolio
				a.item href="#contact"
					i.fi-telephone
					label Contact
		/! main content goes here
		header.row
			.small-12.columns
				h1.text-center Free Code Camp Portfolio
		.row
			.medium-12.columns#about
				h2 About
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nesciunt maiores, sapiente cupiditate ex ullam asperiores tempora, unde, eos quasi perspiciatis dicta itaque non iste neque dolor culpa temporibus. Aliquid?
		.row
			.medium-12.columns#portfolio
				h2 Portfolio
		.row	
			.medium-6.medium-push-6.columns
				img alt="" src="http://placehold.it/350x250" 
			.medium-6.medium-pull-6.columns
				h3 Twitch Stream Monitor
				p A small page to display the status of various twitch streams, using the TwitchTV API. Streams are shown as online, offline or not existing, and the display can be filtered. 
		.row
			.medium-6.columns
				img alt="" src="http://placehold.it/350x250" 
			.medium-6.columns
				h3 Wiki Viewer
				p A single page with search box and "random" article generator. Uses the Wikipedia API. Searching a term occurs on key-up, and will return a list of pages, which are clickable and will generate a new tab with the article.
		.row
			.medium-6.medium-push-6.columns
				img alt="" src="http://placehold.it/350x250" 
			.medium-6.medium-pull-6.columns
				h3 Weather App
				p A single page weather app using geo-location to fetch weather info for the user's current location. Uses the open-weather API. 
		.row
			.medium-6.columns
				img alt="" src="http://placehold.it/350x250" 
			.medium-6.columns
				h3 Biography Page
				p A biography page on Norman Borlaug, an American biologist and humanitarian who led initiatives worldwide that contributed to the extensive increases in agricultural production termed the Green Revolution. 
		.row
			.medium-12.columns#contact
				h2 Contact
		.row.socials
			.medium-4.columns
				a href="#" Facebook
			.medium-4.columns
				a href="#" Twitter
			.medium-4.columns
				a href="#" Github

